<div id="<%= dom_id task %>">
  <p>
    <strong>名前:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>説明:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>ステータス:</strong>
    <%= task.status %>
  </p>
</div>
