<!-- app/views/tasks/index.html.erb -->
<p style="color: green"><%= notice %></p>

<h1>タスク一覧</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <div id="<%= dom_id task %>">
      <p><%= link_to task.name, task_path(task) %></p>
    </div>
  <% end %>
</div>

<%= link_to "タスク作成", new_task_path %>
